.chart-card{

background:white;

border-radius:20px;

padding:25px;

box-shadow:0 12px 30px rgba(0,0,0,.05);

height:100%;

}

.chart-card h2{

margin-bottom:20px;

}

.chart-placeholder{

height:320px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

font-size:70px;

color:#2563eb;

background:#f8fbff;

border-radius:18px;

}

.chart-placeholder p{

margin-top:15px;

font-size:18px;

color:#64748b;

}